@import url(//db.onlinewebfonts.com/c/33024f503b98e8c48e99476ac919ddd3?family=SophistoOTW01-DGauge);

:root {
    --color-white: white;
    --color-black: black;
    --color-medium-grey: #68696c;
    --color-dark-grey: #1a1c1d;
    --color-light-grey: #d3d5d8;
    --color-light-grey-dropdown: #787878;
    --color-dark-grey-dropdown: #5E5E5E;
    --color-hover-dropdown: #f6f6f7;
    --color-shadow-search-bar: #c3c1c1;
    --color-bg-search-bar: #fdfdfd;
    --color-text-p: #5c5d5f;
    --color-text-links-top-page: #5c5d5f --color-bg-card: #fafbfb;
    --color-border-card: #e5e5e5;
    --color-shadow-card: #dedcdc;
    --color-bg-card: #fafbfb;
    --color-bg-green-container: #eafaf2;
    --color-first-card-community: #f4f6fe;
    --color-community-cards-title: #202223;
    --color-bg-footer-bottom: #f6f6f7;
    --color-white-box: white;
    --color-li-footer-bottom: #6f7175;
    --color-white-dropdown: white;
    --color-close-btn-side-nav: #5d5f62;
    --color-border-top-side-nav: #dedfe2;
    --color-selection-menu-text: #153127;
    --color-popup-border: #f1f2f3;
    --color-border-dropdown: #dcdde0;
    --color-bg-menu-side-nav: #f6f6f7;
}

* {
    font-family: 'Inter';
}

html {
    margin: 0;
}

body {
    margin: 0;
    word-spacing: -0.5px;
    padding: 0;
    box-sizing: border-box;
}

body * {
    transition: background-color 200ms linear, border-color 200ms linear;
}


/* navbar */

.navbar {
    position: fixed;
    height: 48px;
    display: block;
    width: 100vw;
    background-color: var(--color-white);
    z-index: 1000;
}

.navbar-content {
    align-items: center;
    width: 100vw;
    margin-top: 8px;
    display: grid;
    grid-template-columns: 170px .95fr .4fr;
}

.hamburger-icon {
    display: none;
    align-items: center;
    margin-left: 35px;
}

.fa-bars {
    display: block;
    font-size: 17px;
    color: var(--color-black);
}

.logo-pc-light {
    background-size: 60px 90px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/shopify-dev-logo-light-100da87d8ee35fb04600643ee9092181cdfb0f4b6db9a4b102b491788560c938.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.logo-pc-dark {
    background-size: 60px 90px;
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/shopify-dev-logo-dark-ebe46baa056247a6245a8c2f3f5643850171ff8f505f2cb61303efe710b65390.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.logo-mobile-light {
    background-size: 60px 90px;
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/shopify-dev-logo-light-100da87d8ee35fb04600643ee9092181cdfb0f4b6db9a4b102b491788560c938.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.logo-mobile-dark {
    background-size: 60px 90px;
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/shopify-dev-logo-dark-ebe46baa056247a6245a8c2f3f5643850171ff8f505f2cb61303efe710b65390.svg");
    background-repeat: no-repeat;
    background-position: left;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-link {
    list-style: none;
}

.navbar-link a {
    text-decoration: none;
    font-size: 11px;
    color: var(--color-medium-grey);
    display: block;
    padding: .8rem;
    transition: .1s;
}

.navbar-link:hover a {
    color: var(--color-dark-grey);
}

.dot {
    height: 3.8px;
    width: 3.8px;
    background-color: var(--color-light-grey);
    border-radius: 50%;
    align-self: center;
    margin-right: 7px;
    margin-left: 4px;
}

.apis-references {
    text-decoration: none;
    border: none;
    font-size: 11px;
    color: var(--color-medium-grey);
    background-color: var(--color-white);
    display: block;
    margin-top: 8px;
    cursor: pointer;

}

.apis-references:hover {
    color: var(--color-dark-grey);
}

.arrow {
    width: 11px;
    height: 6px;
    filter: invert(47%) sepia(8%) saturate(186%) hue-rotate(174deg) brightness(91%) contrast(94%);
    margin-bottom: 2px;
    display: flex;
    align-self: center;
}


/* dropdown */

.dropdown-menu {
    position: absolute;
    width: 165px;
    height: 307px;
    border-radius: .15cm;
    background-color: var(--color-white-dropdown);
    box-shadow: 1px 2px 18px rgb(235, 234, 234);
    top: 43px;
    margin-left: -117px;
    display: none;
}

.dropdown-menu.open {
    display: block;
}

.dropdown-menu ul {
    list-style-type: none;
    display: block;
}

.dropdown-title {
    padding: .8rem;
    font-size: 9px;
    color: var(--color-light-grey-dropdown);
}

.dropdown-list-item {
    display: inline-block;
    padding: 0;
    color: var(--color-dark-grey-dropdown);
    cursor: pointer;
}

.dropdown-item {
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: .6rem;
    padding-top: .6rem;
    padding-right: .6rem;
    width: 150px;
    transition: .1s ease-in-out;
    display: inline-block;
}

.dropdown-item:hover {
    background-color: var(--color-hover-dropdown);
}

.apis-references:active .dropdown-menu {
    font-weight: 700;
    display: block;
}

.wrap-item {
    margin-bottom: 7px;
}

.dropdown-title-view-all {
    padding-left: 10px;
    padding-bottom: .6rem;
    padding-top: .6rem;
    cursor: pointer;
    padding-right: .6rem;
    width: 150px;
    transition: .1s ease-in-out;
    font-size: 10px;
    color: var(--color-dark-grey-dropdown);
}

.dropdown-title-view-all:hover {
    background-color: var(--color-hover-dropdown);
}


/* menu da direita navbar */

.menu-right {
    display: flex;
    align-items: center;
}

.search-bar-container {
    align-items: center;
    display: flex;
    justify-content: left;
}

.search-bar {
    cursor: pointer;
    border: 1px solid var(--color-shadow-search-bar);
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: inset 0 2px 0 0 var(--color-shadow-search-bar);
    width: 100px;
    height: 21px;
    background-color: var(--color-bg-search-bar);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg"), url(images/bar.png);
    background-size: 10px, 14px;
    background-repeat: no-repeat;
    margin-left: 3px;
    padding: 7px 8px 7px 20px;
    font-size: 10.5px;
    background-position: 4px center, 80px center;
}



.magnifying-glass-icon-pc {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    cursor: pointer;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    margin-top: 0px;
    height: 13px;
    display: none;
    width: 13px;
}

.magnifying-glass-icon-pc-dark {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
    background-size: 13px 13px;
    background-repeat: no-repeat;
    height: 13px;
    display: none;
    width: 13px;
}

.magnifying-glass-icon-mobile {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    cursor: pointer;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    margin-top: 5px;
    height: 13px;
    display: none;
    display: none;
    width: 13px;
}

.mini-menu-right-list-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.mini-menu-right-list-item a {
    text-decoration: none;
    font-size: 11px;
    color: var(--color-medium-grey);
    display: block;
    position: relative;
    padding-left: 1.5rem;
    transition: .1s;
}

.mini-menu-right-list-item:hover a {
    color: var(--color-dark-grey);
}

.moon-icon {
    width: 15px;
    height: 12px;
    transform: rotate(-20deg);
    filter: invert(48%) sepia(5%) saturate(298%) hue-rotate(175deg) brightness(89%) contrast(91%);
    margin-left: 12px;
    cursor: pointer;
}

.sun-icon {
    width: 15px;
    height: 13px;
    margin-left: 12px;
    cursor: pointer;
    display: none;

}

/* search bar popup */

.search-bar-popup {
    display: none;
    position: fixed;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.15);
}

.search-bar-popup.open {
    display: block;
}

.search-bar-popup-content {
    background-color: var(--color-white);
    margin: auto;
    height: 36px;
    border: 3px solid var(--color-popup-border);
    border-radius: .1cm;
    width: 31%;
    display: flex;
    align-items: center;
}


.popup-search-bar-input {
    width: 70%;
    height: 60%;
    border: none;
    font-size: 13px;
    border-radius: 6px;
    background-image: url(images/bar.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: right;
}

.lupa-popup {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    background-size: 12px;
    width: 25px;
    margin-left: .5rem;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 4px center;
}

.custom-select-menu {
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-card);
}

.select-box {
    background-color: var(--color-bg-card);
    width: auto;
    border: none;
    height: 25px;
    border-radius: 4px;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    font-family: 'JetBrains Mono', monospace;
    color: var(--color-selection-menu-text);
    font-size: 9px;
}

.up-and-down-arrow-icon {
    background-image: url("images/up-and-down-arrow.svg");
    background-repeat: no-repeat;
    height: 10px;
    width: 7px;
    background-size: 6px;
    padding-right: .5rem;
    filter: invert(36%) sepia(30%) saturate(50%) hue-rotate(177deg) brightness(95%) contrast(92%);
}

/* side nav */

.side-navbar-mobile {
    display: none;
}

/* main page */

main {
    background-color: var(--color-white);
}

.top-page {
    display: grid;
    column-count: 2;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.mobile-image-top {
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/hero-1-mobile-2x-604df177725e4b9aba5dc31e8c50a47a4937c540dcfed8a3c84868c94fb902fe.png");
    height: 365px;
    display: none;
    margin-top: -35px;
    width: 100%;
    background-size: 1300px 365px;
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-image-top-dark {
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/hero-1-tablet-dark-2x-c5bf3771a3c48e435ff5ec07ca0c83d047a292f9b286b125e14153adf203e1cb.png");
    height: 365px;
    display: none;
    margin-top: -35px;
    width: 100%;
    background-size: 1300px 365px;
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-image-middle {
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/hero-2-tablet-2x-8ea2b6e76402d1d028899df080629b6bfe2e7b9546e470902e47bc2ddc1c7c06.png");
    height: 365px;
    display: none;
    width: 100%;
    background-size: 1280px 365px;
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-image-middle-dark {
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/hero-2-tablet-dark-2x-697b32a9a77dacc9564644655ccaaaa5cc9439b78f9db55ce89763aec7ea0416.png");
    height: 365px;
    display: none;
    width: 100%;
    background-size: 1280px 365px;
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-image-bottom {
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/hero-3-mobile-2x-879dcbee9cd90ccd5ab9b9470fd565864f5d6d4539770dfd112263b8ad86e10d.png");
    height: 365px;
    display: none;
    width: 100%;
    background-size: 1140px 365px;
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-image-bottom-dark {
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/hero-3-tablet-dark-2x-fc9903c55243fd78d16359afb1d0097d48cbf85bb6db6207b1de305cfca6fb1b.png");
    height: 365px;
    display: none;
    width: 100%;
    background-size: 1140px 365px;
    background-position: center;
    background-repeat: no-repeat;
}

/* primeira metade do topo */

.main-first-half {
    justify-self: end;
    max-width: calc(1268px / 2);
    padding: 2rem 0rem 0rem 15rem;
    display: flex;
    justify-content: center;
}


.first-half-wrapper {
    padding-top: 6rem;
}

.first-text h1 {
    padding-right: 2rem;
    color: var(--color-black);
    font-size: 35.8px;
    line-height: 45px;
}

.first-text p {
    display: flex;
    text-align: justify;
    font-size: 13.5px;
    font-weight: 100;
    line-height: 21px;
    color: var(--color-text-p);
}

.second-text {
    padding-right: 2rem;
}

.second-text-part h3 {
    padding-top: 17px;
    color: var(--color-black);
    font-size: 15px;
    font-weight: 600;
}

.second-text-part p {
    color: var(--color-text-p);
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
    line-height: 18px;
}

.links-inside-text {
    color: var(--color-text-links-top-page);
}

.links-inside-text:hover {
    text-decoration: none;
}


/* segunda metade do topo */

.main-second-half {
    margin-top: 35px;
    min-height: 1128px;
}

.image-main-second-light {
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/hero-1-2x-d81cd7a3d9160bebda546151484b74b4fab419286d81b53b102db37f10efa6fd.png");
    height: 100%;
    width: 100%;
    background-size: 900px 1128px;
    background-repeat: no-repeat;
    background-position: left;
}

.image-main-second-dark {
    background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/hero-1-dark-2x-b7e0bfae17c91807e522279a15d85b5fba53857161b66ce4a8c6a9c0de1e8d7d.png");
    height: 100%;
    width: 100%;
    background-size: 900px 1128px;
    background-repeat: no-repeat;
    background-position: left;
    display: none;
}

/* cards de cima */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.card-building {
    cursor: pointer;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-border-card);
    border-radius: .15cm;
    box-sizing: border-box;
    box-shadow: 0px 1.5px 0px 0px var(--color-shadow-card);
    transition: 200ms ease;
}

.card-building:hover {
    box-shadow: 0px 3.5px 0px 0px var(--color-border-card);
    transform: translateY(-.2rem);
}

.card-img {
    height: 48px;
    width: 48px;
    margin-left: 9px;
}

.card-container h4 {
    margin-left: 9px;
    font-weight: 600;
    color: var(--color-black);
    font-size: 15px;
}


/* green container */

.green-container {
    border-radius: .3cm;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 220px;
    position: relative;
    background-color: var(--color-bg-green-container);
    columns: 1fr 1fr;
}

.green-content {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 18rem;
    padding: 3rem 0rem 5rem 13rem;

}

.content-left {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.content-left h1 {
    font-weight: 600;
    color: var(--color-black);
    font-size: 23px;
}

.content-text {
    display: inline-block;
}

.content-text h3 {
    margin-top: 25px;
    color: var(--color-black);
    font-weight: 600;
    font-size: 15px;
}

.content-text p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 100;
    color: var(--color-text-p);
}

.content-right {
    padding: 2rem 0rem 0rem 0rem;

}

.box-content-white {
    background-color: var(--color-white-box);
    width: 395px;
    height: 335px;
    border: 3px solid var(--color-black);
    box-shadow: 10px 10px 0px 0px var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrap {
    width: 75%;
    height: 270px;
    display: block;
}

.text-and-img {
    display: flex;
    width: fit-content;
    margin-top: 17px;
    align-items: center;
}

.box-icon {
    width: 49px;
    height: 49px;
}

.text-and-img h4 {
    margin-left: 15px;
    color: var(--color-black);
    font-weight: 600;
}

.text-and-img p {
    margin-top: 3px;
    font-weight: 100;
    font-size: 11px;
    color: var(--color-text-p);
}

/* cards community */

.cards-community {
    column-count: 4;
    display: grid;
    grid-template-columns: repeat(4, .2fr);
    justify-content: center;
    grid-column-gap: 10px;
}

.first-card {
    height: 160px;
    background-color: var(--color-first-card-community);
    border-radius: .15cm;
    display: block;
    margin-top: 15px;
}

.first-card-img-content {
    height: auto;
    width: 160px;
    margin-top: 10px;
}

.first-card h3 {
    font-weight: 600;
    font-size: 15px;
    color: var(--color-community-cards-title);
    margin-top: 5px;
}

.first-card-container-content {
    padding: 0rem 1rem 0rem;
}

.card {
    height: 160px;
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-border-card);
    border-radius: .15cm;
    box-sizing: border-box;
    box-shadow: 0px 1.5px 0px 0px var(--color-shadow-card);
    display: block;
    cursor: pointer;
    margin-top: 15px;
    transition: 200ms ease;
}

.card:hover {
    box-shadow: 0px 3.5px 0px 0px var(--color-shadow-card);
    transform: translateY(-.2rem);
}

.card-container-content {
    margin-left: .8rem;
    margin-top: -10px;
    margin-right: 2px;
}

.card-title {
    font-weight: 600;
    color: var(--color-community-cards-title);
    font-size: 12px;
}

.card-title::after {
    content: ' ->';
}

.card-container-content p {
    font-size: 10.5px;
    font-weight: 100;
    color: var(--color-text-p);
    margin-top: -8px;
}

.card-img-content {
    height: 48px;
    width: 48px;
    padding: .7rem .8rem 0rem;
}


/* footer */

footer {
    padding-top: 60px;
    height: auto;
    background-color: var(--color-white);
}

.footer-top {
    background-color: var(--color-bg-card);
    height: 270px;
    display: flex;
    justify-content: center;
    border-radius: .3cm;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}


.list-footer ul {
    padding-top: 4rem;
    list-style: none;
    display: flex;
    gap: 130px;
}

.footer-list-item h4 {
    font-size: 9px;
    color: var(--color-dark-grey);
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-list-item p {
    font-size: 10.5px;
    color: var(--color-medium-grey);
    cursor: pointer;
}

.footer-list-item p:hover {
    color: var(--color-dark-grey);
}

.footer-bottom {
    background-color: var(--color-bg-footer-bottom);
    margin-top: -17px;
    height: 70px;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.footer-bottom ul {
    list-style: none;
    display: flex;
    padding: 2.5rem 16.5rem 0rem;
    gap: 15px;
}

.footer-bottom li {
    font-size: 10.5px;
    font-weight: 600;
    color: var(--color-li-footer-bottom);
    cursor: pointer;
}

.footer-bottom li:hover {
    color: var(--color-community-cards-title);
}


/* dark mode */

.dark-mode {
    --color-white: #0e1213;
    --color-medium-grey: #d5d5d9;
    --color-dark-grey: white;
    --color-black: #eff1f1;
    --color-light-grey: #29383c;
    --color-text-p: #d5d5d9;
    --color-text-links-top-page: #adbde6;
    --color-bg-card: #171d1e;
    --color-border-card: #222e32;
    --color-shadow-card: black;
    --color-bg-green-container: #0e1213;
    --color-white-box: #171d1e;
    --color-first-card-community: #0e1213;
    --color-community-cards-title: white;
    --color-bg-footer-bottom: #22292b;
    --color-li-footer-bottom: #868a8e;
    --color-white-dropdown: #171d1e;
    --color-light-grey-dropdown: #808387;
    --color-dark-grey-dropdown: white;
    --color-hover-dropdown: #22292b;
    --color-popup-border: #243134;
    --color-selection-menu-text: white;
    --color-bg-menu-side-nav: #171d1e;
    --color-border-top-side-nav: #1d272a;
}

.dark-mode #dropdown {
    box-shadow: none;
    border: 1px solid #243134;
}

.dark-mode .arrow {
    filter: invert(100%) sepia(8%) saturate(1873%) hue-rotate(180deg) brightness(88%) contrast(93%);
    ;
}

.dark-mode .search-bar {
    background-image: url("images/lupa-white.svg"), url("images/bar-dark.png");
}

.dark-mode input[type="search"] {
    color: white;
}

.dark-mode .sun-icon {
    display: inline-block;
}

.dark-mode .moon-icon {
    display: none;
}

.dark-mode .popup-search-bar-input {
    background-color: #0e1213;
    background-image: url("images/bar-dark.png");
}

.dark-mode .lupa-popup {
    filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(132deg) brightness(109%) contrast(106%);
}

.dark-mode .up-and-down-arrow-icon {
    filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(132deg) brightness(109%) contrast(106%);
}

.dark-mode .search-bar-popup {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.dark-mode .image-main-second-light {
    display: none;
}

.dark-mode .image-main-second-dark {
    display: block;
}

.dark-mode .box-content-white {
    box-shadow: none;
    border: 1px solid #29383c;
    border-radius: .2cm;
}

.dark-mode .green-container {
    border: 1px solid #a7f68e;
}

.dark-mode .first-card {
    border: 1px solid #a1b8f2;
}

.dark-mode .logo-pc-light {
    display: none;
}

.dark-mode .logo-pc-dark {
    display: block;
}

.dark-mode .logo-mobile-light {
    display: none;
}

.dark-mode .arrow-side-nav {
    filter: invert(100%) sepia(0%) saturate(7463%) hue-rotate(83deg) brightness(107%) contrast(113%);
}

.dark-mode .magnifying-glass-icon-mobile {
    width: 20px;
    background-image: url("images/lupa-white.svg");
}


.dark-mode .search-bar {
    background-color: #171d1e;
    border: .5px solid #4b5c5f;
    -webkit-box-shadow: inset 1px 1px 1px 1px #4b5c5f;
    box-shadow: inset 0px 1px .5px 1px #4b5c5f;
}

.dark-mode .close-btn-side-nav {
    color: #d7d7db;
}

.dark-mode .logo-mobile-dark-side-nav {
    display: block;
}

.dark-mode .logo-mobile-light-side-nav {
    display: none;
}


/* responsividade */

@media (max-width:1600px) {
    .green-content {
        gap: 24rem;
    }

    .green-container {
        margin-top: 220px;
    }
}


@media (max-width:1440px) {
    .green-container {
        margin-top: 210px;
    }

    .main-first-half {
        padding: 2rem 0rem 0rem 7rem;
    }

    .green-content {
        padding: 3rem 0rem 5rem 2rem;
        gap: 17rem;
    }

    .search-bar-container {
        width: 60%;
    }

}

@media (max-width:1280px) {
    .menu-right {
        width: fit-content;
        justify-self: end;
        padding-right: 2rem;
    }

    .dark-mode .menu-right {
        width: 100%;
        padding-right: .5rem;
    }

    .search-bar-container {
        display: none;
    }

    .magnifying-glass-icon-pc {
        display: block;
    }

    .dark-mode .magnifying-glass-icon-pc-dark {
        display: block;
    }

    .search-bar-popup-content {
        width: 50%;
    }
}


@media (max-width:1115px) {
    .green-content {
        gap: 12rem;
    }
}

@media (max-width:1050px) {
    .card {
        width: 200px;
    }

    .first-card {
        width: 200px;
    }

    .green-content {
        gap: 9rem;
    }

    .list-footer ul {
        padding-left: 0rem;
        gap: 80px;
    }

}


@media (max-width:1024px) {
    .list-footer ul {
        padding-left: 0rem;
        gap: 80px;
    }

    .footer-bottom ul {
        padding: 2.5rem 2rem 0rem;
    }

    .main-first-half {
        padding: 2rem 0rem 0rem 3rem;
    }

    .green-container {
        margin-top: 300px;
    }

    .green-content {
        gap: 7rem;
    }

    .card {
        width: 230px;
    }

    .first-card {
        width: 230px;
    }

    .navbar-content {
        grid-template-columns: 100px 1.7fr .4fr;
    }
}

@media (max-width:1000px) {
    .green-content {
        gap: 4rem
    }
}

@media (max-width:986px) {
    .list-footer ul {
        gap: 75px;
    }
}

@media (max-width:962px) {
    .list-footer ul {
        gap: 70px;
    }
}

@media (max-width:959px) {
    .top-page {
        gap: 0;
        height: 2000px;
        grid-template-columns: none;
        column-count: 0;
    }

    .mobile-image-top {
        display: inline-block;
    }

    .mobile-image-middle {
        display: inline-block;
        width: 100vw;
    }

    .mobile-image-bottom {
        display: inline-block;

    }

    .dark-mode .mobile-image-top-dark {
        display: inline-block;
    }

    .dark-mode .mobile-image-middle-dark {
        display: inline-block;
        width: 100vw;
    }

    .dark-mode .mobile-image-bottom-dark {
        display: inline-block;

    }

    .dark-mode .mobile-image-top {
        display: none;
    }

    .dark-mode .mobile-image-middle {
        display: none;
    }

    .dark-mode .mobile-image-bottom {
        display: none;
    }

    .main-first-half {
        width: 100vw;
        max-width: 100vw;
        padding: 0;
        display: inline-block;
    }

    .main-second-half {
        display: none;
    }

    .first-text {
        padding: 1.5rem 12rem .5rem 13rem;
    }

    .first-text p {
        text-align: left;
        font-size: 13.7px;
    }

    .second-text {
        word-spacing: normal;
        padding: 0rem 14rem .5rem 13.3rem;
    }

    .green-container {
        margin-left: 11rem;
        margin-right: 11rem;
        margin-top: 70px;
    }

    .green-content {
        display: inline-block;
    }

    .content-right {
        padding: 0;
    }

    .content-text {
        padding-bottom: 3rem;
        padding-right: 2rem;
    }

    .box-content-white {
        height: 100%;
        width: calc(100% - 3rem);
    }

    .content-wrap {
        display: grid;
        padding-left: 2rem;
        width: 100%;
        gap: 1rem;
        height: fit-content;

        grid-template-columns: 1fr 1fr;
    }

    .text-and-img {
        margin-top: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 12px;
        padding-bottom: 2.5rem;
    }

    .cards-community {
        column-count: 2;
        grid-template-columns: repeat(2, .2fr);
    }

    .first-card {
        width: 310px;
    }

    .card {
        width: 310px;
    }

    .footer-top {
        margin-left: 0;
        margin-right: 0;
    }

    .footer-bottom {
        margin-left: 0;
        margin-right: 0;
    }

    .list-footer {
        margin-left: 20px;
        margin-right: 10px;
    }
}

@media (max-width:938px) {
    .list-footer ul {
        gap: 60px;
    }

    .green-container {
        margin-top: 90px;
    }
}

@media (max-width:922px) {
    .navbar-content {
        grid-template-columns: 80px 1.3fr .4fr;
    }
}

@media (max-width:890px) {
    .list-footer ul {
        gap: 50px;
    }
}

@media (max-width:859px) {
    .green-container {
        margin-top: 100px;
    }
}

@media (max-width:838px) {
    .list-footer ul {
        gap: 40px;
    }

    .green-container {
        margin-top: 120px;
    }
}

@media (max-width:788px) {
    .list-footer ul {
        gap: 30px;
    }
}

@media (max-width:768px) {
    .search-bar-popup-content {
        width: 60%;
    }

    .green-container {
        margin-top: 100px;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .content-text {
        padding-right: 2.5rem;
    }

    .navbar-content {
        grid-template-columns: 80px 1.2fr .4fr;
    }

    .second-text {
        word-spacing: normal;
        padding: 0rem 5.5rem .5rem 5.5rem;
    }
}

@media (max-width:725px) {
    .green-container {
        margin-top: 120px;
    }
}

@media (max-width:719px) {
    .navbar.close {
        transform: translateX(100%);
    }

    .navbar {
        transform: translateX(0);
        transition: 230ms linear;
        position: fixed;
    }


    .side-navbar-mobile {
        width: 100vw;
        display: inline-block;
        height: 100vh;
        transform: translateX(-110%);
        transition: 290ms linear;
        position: absolute;
    }

    .side-navbar-mobile.open {
        transform: translateX(0);
        transition: 290ms linear;
    }

    .side-navbar-mobile-top {
        height: 48px;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-white);
    }

    .side-nav-menu-container {
        background-color: var(--color-white);
        width: 100vw;
        display: block;
        height: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.3rem;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-border-top-side-nav);
    }

    .side-nav-menu-wrapper {
        width: calc(100% - 30px);
        background-color: var(--color-bg-menu-side-nav);
        border-radius: .1cm;
        display: block;
    }

    .text-icon-menu-side-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .arrow-side-nav {
        height: 10px;
        transform: rotate(180deg);
        margin-right: 10px;
    }

    .arrow-side-nav.open {
        transform: rotate(0deg);
    }

    .side-nav-menu-wrapper h3 {
        font-size: 11px;
        margin-top: 8px;
        color: var(--color-black);
        display: block;
        padding-left: 1.5rem;
    }

    .close-btn-side-nav {
        font-size: 22px;
        padding-left: .7rem;
        text-decoration: none;
        color: var(--color-close-btn-side-nav);
    }

    .logo-mobile-light-side-nav {
        background-size: 60px 90px;
        cursor: pointer;
        width: 75px;
        height: 100%;
        background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/shopify-dev-logo-light-100da87d8ee35fb04600643ee9092181cdfb0f4b6db9a4b102b491788560c938.svg");
        background-repeat: no-repeat;
        background-position: left;
    }

    .logo-mobile-dark-side-nav {
        background-size: 60px 90px;
        cursor: pointer;
        width: 75px;
        height: 100%;
        display: none;
        background-image: url("https://cdn.shopify.com/shopifycloud/shopify_dev/assets/shopify-dev-logo-dark-ebe46baa056247a6245a8c2f3f5643850171ff8f505f2cb61303efe710b65390.svg");
        background-position: left;
        background-repeat: no-repeat;
    }

    .side-nav-api-dropdown-container {
        margin-top: 0;
        height: 0;
        width: calc(100vw - 2.5rem);
        border-top: 1px solid var(--color-border-top-side-nav);
        background-color: var(--color-bg-menu-side-nav);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition-duration: 200ms;
        transition-property: height;
    }

    .side-nav-api-dropdown-container.open {
        height: 350px;
        transition-duration: 200ms;
        transition-property: height;
    }

    .side-nav-dropdown-list {
        margin-top: 10px;
        list-style-type: none;
        opacity: 0;
        transition-property: opacity;
        display: block;
        transition-duration: 200ms;
    }
    .side-nav-dropdown-list.open {
        transition-property: opacity;
        transition-duration: 200ms;
        opacity: 1;
    }

    .side-nav-dropdown-list-item {
        padding: 0rem 0rem 1.3rem 1.2rem;
    }

    .side-nav-dropdown-list-item a {
        text-decoration: none;
        color: var(--color-text-p);
        font-size: 10.5px;
    }

    .side-nav-api-dropdown {
        display: block;
        list-style-type: none;
        padding-left: .5rem;
    }

    .side-nav-api-dropdown-item {
        padding-top: 1rem;
    }

    .side-nav-api-dropdown-item a {
        text-decoration: none;
        font-size: 9px;
    }

    .menu-side-nav-under-top {
        background-color: var(--color-bg-menu-side-nav);
        height: 100vh;
        padding: 2rem 0rem 0rem 1.5rem;
    }

    .list-menu-under-top {
        list-style-type: none;
        display: block;
    }

    .list-menu-under-top.open {
        display: none;
    }

    .list-item-menu-under-top {
        padding-bottom: 1.2rem;

    }

    .list-item-menu-under-top a {
        text-decoration: none;
        color: var(--color-text-p);
        font-size: 11px;
    }

    .moon-icon {
        margin-left: 0;
    }

    .sun-icon {
        margin-left: 0;
    }

    .first-text {
        padding: 2rem 2rem 1.5rem 3.3rem;
    }

    .first-text h1 {
        font-size: 24px;
        line-height: normal;
    }


    .second-text {
        padding: 0rem 4rem .5rem 3.5rem;
    }

    .second-text h3 {
        font-size: 14px;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .green-container {
        margin-top: 10px;
    }

    .magnifying-glass-icon {
        display: inline-block;
    }

    .navbar-content {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .logo-mobile-light {
        display: block;
        margin-left: 20px;
    }

    .dark-mode .logo-mobile-dark {
        display: block;
    }

    .magnifying-glass-icon-mobile {
        display: block;
        margin-top: 16px;
        margin-right: 38px;
    }

    .hamburger-icon {
        display: flex;
    }

    .footer-top {
        height: 380px;
    }

    .list-footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-count: 3;
        grid-column-gap: 10rem;
        grid-row-gap: 0;
    }
}

@media (max-width:640px) {
    .first-card {
        width: 270px;
    }

    .card {
        width: 270px;
    }
}

@media (max-width:622px) {
    .green-container {
        margin-top: 40px;
    }
}

@media (max-width:565px) {
    .green-container {
        margin-top: 60px;
    }

    .first-card {
        width: 240px;
    }

    .card {
        width: 240px;
    }

    .list-footer ul {
        gap: 20px;
    }
}

@media (max-width:538px) {
    .first-card {
        width: 220px;
    }

    .card {
        width: 220px;
    }
}

@media (max-width:479px) {
    .search-bar-popup-content {
        width: 90%;
    }

    .popup-search-bar-input {
        margin-left: 1rem;
    }

    .lupa-popup {
        width: 40px;
    }

    .mobile-image-top {
        height: 245px;
        margin-top: -35px;
        background-size: 870px 245px;
    }

    .dark-mode .mobile-image-top-dark {
        height: 245px;
        margin-top: -25px;
        background-size: 870px 245px;
    }

    .first-text {
        padding: 2rem 0rem 1.5rem 1rem;
    }

    .first-text p {
        font-size: 13.3px;
    }

    .second-text {
        padding: 0rem 1rem .5rem 1rem;
    }

    .second-text p {
        text-align: left;

    }

    .mobile-image-middle {
        height: 245px;
        background-size: 870px 245px;
    }

    .dark-mode .mobile-image-middle-dark {
        height: 245px;
        background-size: 870px 245px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .mobile-image-bottom {
        height: 245px;
        background-size: 800px 245px;
    }

    .dark-mode .mobile-image-bottom-dark {
        height: 245px;
        background-size: 800px 245px;
    }

    .cards-community {
        padding-left: 1rem;
        padding-right: 1rem;
        display: grid;
        column-count: 1;
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }

    .first-card {
        width: 100%;
    }

    .magnifying-glass-icon-mobile {
        margin-right: 27px;
    }

    .green-container {
        margin-top: -110px;
        margin-left: 0;
        margin-right: 0;
    }

    .content-wrap {
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: .5rem;
        width: 100%;
        gap: 2rem;
        height: fit-content;
        grid-template-columns: 1fr;
    }

    .content-left h1 {
        font-size: 17px;
    }

    .footer-top {
        height: 500px;
    }

    .list-footer ul {
        grid-template-columns: 1fr 1fr;
        column-count: 2;
        grid-column-gap: 7rem;
        grid-row-gap: 1rem;
    }
}

@media (max-width:436px) {
    .green-container {
        margin-top: -100px;
    }
}

@media (max-width:382px) {
    .green-container {
        margin-top: -40px;
    }
}


@media (max-width:375px) {
    .green-container {
        margin-top: -50px;
    }

    .footer-bottom li {
        font-size: 9px;

    }
}

@media (max-width:367px) {
    .green-container {
        margin-top: -20px;
    }
}

@media (max-width:334px) {
    .green-container {
        margin-top: 10px;
    }
}

@media (max-width:324px) {
    .green-container {
        margin-top: 50px;
    }
}

@media (max-width:299px) {
    .green-container {
        margin-top: 100px;
    }
}